// #############################
//      reset styles
// #############################

* {
  box-sizing: border-box;
  margin: 0;
}

// #############################
//      general
// #############################

.App {
  font-size: 16px;
}